<!DOCTYPE html>
<html>
<head>
  <title>Test engine</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "rate_it/application", media: "all" %>
  <%= javascript_include_tag "rate_it/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
